.logo {
  animation: fadeIn 0.5s ease-in-out forwards; /* Adjust the duration here */
  transition: backdrop-filter 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-container {
  animation: fadeIn 0.5s ease-in-out forwards; /* Adjust the duration here */
  transition: backdrop-filter 0.5s ease-in-out;
}

.color-change {
  filter: drop-shadow(0 0 2em #ffa500aa); /* Apply drop shadow with specified color */
}
