.home {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.text-content {
  text-align: center;
  position: relative;
  margin-bottom: 7em;
}

.logo-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.logo-glow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%);
  border-radius: 50%;
  filter: blur(15px);
  z-index: 0;
}

.logo-container {
  position: relative;
  z-index: 1;
}
